# Testing Banking Statement Converter

## Importing proper directory

There is no simple way to import python files in another directory. This is unrelated to the jupyter notebook. Here are 3 solutions to your problem

1.) You can add the directory containing the file you want to import to your path and then import the file like this:
```
import sys  
sys.path.insert(0, '/path/to/application/app/folder')

import file
```

2.) You can create a local module by having an empty __init__.py file in the folder you want to import. There are some weird rules regarding the folder hierarchy that you have to take into consideration.

3.) You can create a module for the file you wish to import and install it globally.

In [1]:
import os
import sys
# path = '/Users/CChalland/Projects/APPs/Banking'
path = '/Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter'
sys.path.insert(0, path)
from card_filter import StatementFilter

statements = StatementFilter()
statements.crawl_directory(path + "/Statements")
data = statements.results

# print(data)

fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_10_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_12_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_08_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_06_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_11_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_09_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_05_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Apple/Credit/22_07_31.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Chase/Credit/22_09_13.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Chase/Credit/22_11_13.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Chase/Credit/22_10_13.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Chase/Credit/22_12_13.pdf
fname:  /Users/ColeChalland/Projects/APPs/Banking_Statmement_Converter/Statements/Chase/Checkings/22_10_26.pdf
Checkings:  {(2, 728): ['JPMorgan Chase Bank, N.A.'], (2, 719): ['P O Box 182051'], (2, 710): ['Columbus, OH 43218 - 2051'], (2, 736): ['September 27, 2022 through October 26, 2022'], (2, 723): ['Account Number:'], (2, 722): ['000000578030261'], (2, 691): ['CUSTOMER SERVICE INFORMATION'], (2, 676): ['Web site:', 'Chase.com'], (2, 663): ['Service Center:', '1-800-935-9935'], (2, 653): ['00078199 DRE 111 212 30022 NNNNNNNNNNN 1 000000000 17 0000', 'Para Espanol:', '1-877-312-4273'], (2, 640): ['COLE T CHALLAND'], (2, 642): ['International Calls:'], (2, 641): ['1-713-262-1679'], (2, 630): ['5500 N MILITARY TRL APT 333'], (2, 619): ['BOCA RATON FL 33496-3444'], (2, 520): ['*start*after address message area1'], (2, 497): ['Fraud and scams can happen to anyone'], (2, 476): ['Protect yourself and older loved ones by learning the warning signs and other helpful tips.'], (2, 456): ['For more information, visit chase.com/FraudTips'], (2, 433): ['Good news \x96 we\x92re increasing the daily purchase limit on some of our debit cards'], (2, 413): ['On August 21, we\x92re increasing the daily limit for purchases made with the Chase Debit Card, Chase Liquid Card and'], (2, 402): ['Chicago Skyline Debit Card (IL only) to $5,000, up from $3,000. As a reminder, here are the limits:'], (2, 384): ['•'], (2, 374): ['•'], (2, 364): ['•'], (2, 353): ['•'], (2, 382): ['Purchases: Now $5,000'], (2, 372): ['Chase In-Branch ATM: $3,000'], (2, 361): ['Other Chase ATM: $1,000'], (2, 351): ['Non-Chase ATM: $500 ($1,000 for accounts opened in CT, NJ, NY)'], (2, 330): ['This change doesn\x92t affect the limits on our other debit cards. For more information about our other debit cards and their'], (2, 320): ['limits, please review the Card Purchase and Withdrawal Limits section in the Additional Banking Services and Fees'], (2, 310): ['document on', 'chase.com/disclosures', '.'], (2, 289): ['If you have any questions, please call the number on the back of your card or on this statement. We accept operator relay'], (2, 279): ['calls.'], (2, 278): ['*end*after address message area1'], (2, 270): ['*start*summary'], (2, 249): ['CHECKING SUMMARY'], (2, 256): ['Chase Total Checking'], (2, 224): ['Beginning Balance', '$322.70'], (2, 236): ['AMOUNT'], (2, 210): ['Deposits and Additions', '8,922.18'], (2, 197): ['ATM & Debit Card Withdrawals', '-500.00'], (2, 184): ['Electronic Withdrawals', '-8,648.34'], (2, 171): ['Ending Balance', '$96.54'], (2, 159): ['*end*summary'], (2, 154): ['*start*transaction detail'], (2, 133): ['TRANSACTION DETAIL'], (2, 118): ['DATE', 'DESCRIPTION', 'AMOUNT', 'BALANCE'], (2, 103): ['Beginning Balance', '$322.70'], (2, 88): ['09/28', 'Chase Credit Crd Epay Onus 6223796189 Web ID: 5760039224', '-200.00', '122.70'], (2, 76): ['09/30', 'American Express Payroll PPD ID: 1133133497', '2,981.29', '3,103.99'], (2, 62): ['*end*transaction detail'], (2, 63): ['09/30', 'Online Transfer From Sav ...3932 Transaction#: 15423523380', '659.61', '3,763.60'], (2, 22): ['Page', '1', 'of', '2'], (2, 604): ['1'], (2, 600): ['2'], (2, 597): ['0'], (2, 593): ['0'], (2, 590): ['0'], (2, 587): ['0'], (2, 583): ['0'], (2, 580): ['0'], (2, 577): ['0'], (2, 573): ['1'], (2, 570): ['0'], (2, 567): ['1'], (2, 563): ['0'], (2, 560): ['9'], (2, 557): ['9'], (2, 553): ['1'], (2, 550): ['8'], (2, 546): ['7'], (2, 543): ['0'], (2, 540): ['0'], (3, 700): ['*start*transaction detail'], (3, 679): ['TRANSACTION DETAIL'], (3, 686): ['(continued)'], (3, 664): ['DATE', 'DESCRIPTION', 'AMOUNT', 'BALANCE'], (3, 651): ['09/30', 'Online Transfer To Sav ...3932 Transaction#: 15298461594', '-2,000.00', '1,763.60'], (3, 639): ['09/30', '09/30 Payment To Chase Card Ending IN 2447', '-900.00', '863.60'], (3, 627): ['10/04', 'Online Transfer From Sav ...3932 Transaction#: 15465076515', '300.00', '1,163.60'], (3, 614): ['10/04', 'ATM Withdrawal 10/04 17955 S Military Trl Boca Raton FL Card 2160', '-500.00', '663.60'], (3, 602): ['10/06', 'Online Transfer From Sav ...3932 Transaction#: 15481443871', '2,000.00', '2,663.60'], (3, 590): ['10/07', 'Fid Bkg Svc LLC Moneyline PPD ID: 1035141383', '-1,500.00', '1,163.60'], (3, 578): ['10/11', '10/08 Payment To Chase Card Ending IN 2447', '-500.00', '663.60'], (3, 565): ['10/11', 'Chase Credit Crd Autopay PPD ID: 4760039224', '-500.00', '163.60'], (3, 553): ['10/14', 'American Express Payroll PPD ID: 1133133497', '2,981.28', '3,144.88'], (3, 541): ['10/14', 'Online Transfer To Sav ...3932 Transaction#: 15420610294', '-2,000.00', '1,144.88'], (3, 529): ['10/14', '10/14 Online Transfer To Sav ...3932 Transaction#: 15541428511', '-300.00', '844.88'], (3, 516): ['10/17', 'Applecard Gsbank Payment 1661032 Web ID: 9999999999', '-648.34', '196.54'], (3, 504): ['10/24', 'Applecard Gsbank Payment 1661032 Web ID: 9999999999', '-100.00', '96.54'], (3, 487): ['*end*transaction detail'], (3, 483): ['*start*post transaction detail message'], (3, 492): ['Ending Balance', '$96.54'], (3, 469): ['A Monthly Service Fee was', 'not', 'charged to your Chase Total Checking account. Here are the three ways you can avoid'], (3, 460): ['this fee during any statement period.'], (3, 444): ['•'], (3, 387): ['•'], (3, 359): ['•'], (3, 334): ['*end*post transaction detail message'], (3, 330): ['*start*dre portrait disclosure message area'], (3, 441): ['Have electronic deposits made into this account totaling $500.00 or more, such as payments from payroll'], (3, 432): ['providers or government benefit providers, by using (i) the ACH network, (ii) the Real Time Payment network,'], (3, 422): ['or (iii) third party services that facilitate payments to your debit card using the Visa or Mastercard network.'], (3, 413): ['(Your total electronic deposits this period were $5,962.57. Note: some deposits may be listed on your previous'], (3, 404): ['statement)'], (3, 385): ['OR, keep a balance at the beginning of each day of $1,500.00 or more in this account.'], (3, 376): ['(Your lowest beginning day balance was $96.54)'], (3, 357): ['OR, keep an average beginning day balance of $5,000.00 or more in qualifying linked deposits and'], (3, 348): ['investments.'], (3, 338): ['(Your average beginning day balance of qualifying linked deposits and investments was $7,774.11)'], (3, 302): ['IN CASE OF ERRORS OR QUESTIONS ABOUT YOUR ELECTRONIC FUNDS TRANSFERS:'], (3, 284): ['Call us at 1-866-564-2262 or write us at the address on the front of this statement immediately if you think your statement or receipt is incorrect or if'], (3, 275): ['you need more information about a transfer listed on the statement or receipt.'], (3, 256): ['For personal accounts only:', 'We must hear from you no later than 60 days after we sent you the FIRST statement on which the problem or error'], (3, 247): ['appeared. Be prepared to give us the following information:'], (3, 230): ['•'], (3, 223): ['•'], (3, 216): ['•'], (3, 229): ['Your name and account number;'], (3, 221): ['A description of the error or the transaction you are unsure about, and why you think it is an error or want more information; and'], (3, 214): ['The amount of the suspected error.'], (3, 200): ['We will investigate your complaint and will correct any error promptly. If we take more than 10 business days (or 20 business days for new'], (3, 193): ['accounts) to do this, we will credit your account for the amount you think is in error so that you will have use of the money during the time it takes'], (3, 185): ['us to complete our investigation.'], (3, 171): ['For business accounts', ', see your deposit account agreement or other applicable agreements that govern your account for details.'], (3, 156): ['IN CASE OF ERRORS OR QUESTIONS ABOUT NON-ELECTRONIC FUNDS TRANSFERS', ': Contact us immediately if your statement is'], (3, 149): ['incorrect or if you need more information about any non-electronic funds transfers on this statement. For more details, see your deposit account'], (3, 142): ['agreement or other applicable agreements that govern your account.'], (3, 120): ['JPMorgan Chase Bank, N.A. Member FDIC'], (3, 105): ['*end*dre portrait disclosure message area'], (3, 736): ['September 27, 2022 through October 26, 2022'], (3, 723): ['Account Number:'], (3, 722): ['000000578030261'], (3, 22): ['Page', '2', 'of', '2']}

AttributeError: 'NoneType' object has no attribute 'values'

In [3]:
import pandas as pd
df = pd.DataFrame.from_dict(data)

In [4]:
df

,Transaction Date,Description,Amount,Provider,Type,Bill Month,Bill Year
0,2022-12-31,Apple Cash payment,-14.23,Apple,Payments,December,2022
1,2022-12-31,ACH Deposit Internet transfer from account end...,-335.77,Apple,Payments,December,2022
2,2022-12-28,HUDSON NEWS ST852 CNN 2309 MT. PROSPECT RD. DE...,5.20,Apple,Transactions,December,2022
3,2022-12-28,Viasat In-Flight Wi-Fi6155 El Camino Real Carl...,9.00,Apple,Transactions,December,2022
4,2022-12-27,STOCKXX14023606450386 1747 CHRISTIAN ST UNIT 3...,162.67,Apple,Transactions,December,2022
...,...,...,...,...,...,...,...
398,2022-06-30,ACH Deposit Internet transfer from account end...,-1500.00,Apple,Payments,June,2022
399,2022-06-30,AMZN Mktp US*ZA3X57EM3440 Terry Ave N Amzn.com...,240.22,Apple,Transactions,June,2022
400,2022-06-30,AMZN Mktp US*YB2YS9BD3440 Terry Ave N Amzn.com...,26.74,Apple,Transactions,June,2022
401,2022-06-30,AMZN Mktp US*W80KU9N73440 Terry Ave N Amzn.com...,7.48,Apple,Transactions,June,2022
402,2022-05-31,ACH Deposit Internet transfer from account end...,-150.00,Apple,Payments,May,2022

In [10]:
apple_amount = df[df['Provider'] == "Apple"]["Amount"]
print("Apple Amount: ", apple_amount)
chase_amount = df[df['Provider'] == "Chase"]["Amount"].sum()
print("Chase Amount: ", chase_amount)

total_amount = df["Amount"].sum()
print("Total Amount: ", total_amount)

Apple Amount:  0        -14.23
1       -335.77
2          5.20
3          9.00
4        162.67
         ...
398    -1500.00
399      240.22
400       26.74
401        7.48
402     -150.00
Name: Amount, Length: 273, dtype: object
Chase Amount:  8594.74
Total Amount:  25217.61