# Testing Banking Statement Converter

## Importing proper directory

There is no simple way to import python files in another directory. This is unrelated to the jupyter notebook. Here are 3 solutions to your problem

1.) You can add the directory containing the file you want to import to your path and then import the file like this:
```
import sys  
sys.path.insert(0, '/path/to/application/app/folder')

import file
```

2.) You can create a local module by having an empty __init__.py file in the folder you want to import. There are some weird rules regarding the folder hierarchy that you have to take into consideration.

3.) You can create a module for the file you wish to import and install it globally.

In [ ]:
import sys  
sys.path.insert(0, '/Users/CChalland/Projects/APPs/Banking')

from card_filter import StatementFilter

import os

In [ ]:
path = '../Statements/Chase/Credit'
input_files = []

statements = StatementFilter()

print("Starting PDFs Uploads:")
for file in os.listdir(path):
    if file.endswith(".pdf"):
        input_files.append(os.path.join(path, file))

statements.data_from_files(input_files)
data = statements.results

print(data)

In [3]:
import pandas as pd

In [4]:
pd.DataFrame.from_dict(data)

,Transaction Date,Description,Amount,Provider,Type,Bill Month,Bill Year
0,2022-10-14,ACH Deposit Internet transfer from account end...,-$648.34,Apple,Payments,October,2022
1,2022-10-22,Apple Cash payment,-$450.00,Apple,Payments,October,2022
2,2022-10-22,ACH Deposit Internet transfer from account end...,-$100.00,Apple,Payments,October,2022
3,2022-10-01,BOOMERS BOCA RATON 3100 AIRPORT RD BOCA RATON ...,$180.63,Apple,Transactions,October,2022
4,2022-10-01,APX BOOMERS| BOCA RATO3100 AIRPORT ROAD BOCA R...,$25.00,Apple,Transactions,October,2022
...,...,...,...,...,...,...,...
268,2022-07-25,SQ *24/7 IMMOBILIZATIO5555 North Military Trai...,$92.82,Apple,Transactions,July,2022
269,2022-07-25,TST* PREZZO BOCA RATON5560 N MILITARY TRL UNIT...,$32.55,Apple,Transactions,July,2022
270,2022-07-26,THE FRESH MARKET 218 5540 N. MILITARY TRAIL BO...,$45.51,Apple,Transactions,July,2022
271,2022-07-27,THE FRESH MARKET 218 5540 N. MILITARY TRAIL BO...,$27.18,Apple,Transactions,July,2022
272,2022-07-28,THE FRESH MARKET 218 5540 N. MILITARY TRAIL BO...,$6.29,Apple,Transactions,July,2022